.contact {
  font-size: 2rem;

  &__info {
    font-size: 2.2rem;
    padding-left: 6rem;
    padding-right: 4rem;
    margin-top: 5rem;
  }

  &__thanks {
    font-size: 3rem;
    margin-top: 4rem;
    padding-left: 4rem;
    text-align: center;
  }
}

.form {
  background-color: #fff;
  z-index: -10;
}
